{% extends "home/main.html"%}
{% load static%}
{% block content%}
    <div style="background-image: url(&quot;{% static "home/assets/img/semiconductor.jpg" %}&quot;);background-size: cover;background-repeat: no-repeat;font-family: consolas;height: 664px;">
        <h1 class="text-center" data-aos="fade-up" style="color: rgb(255,255,255);letter-spacing: 16px;font-family: Product Sans;font-weight: bold;margin-top: -0px;padding-top: 65px;">THE TECHNOLOGY CLUB</h1>
        <div class="container" style="margin-top: 153px;margin-bottom: 0px;height: 285px;background-position: center;padding-top: 127px;min-height: none;">
            <div class="row" style="margin-right: -15px;">
                <div class="col" data-aos="fade-up">
                    <p class="text-left" style="font-family: Product Sans;color: rgb(255,255,255);font-size: 22px;">Read our latest articles</p><img class="d-flex d-lg-flex align-items-center" src="{% static "home/assets/img/70b2451ccef7efd91f7fde69fe25d1c9-newspaper-article-icon-by-vexels.png"%}" style="width: 53px;"></div>
                <div class="col" data-aos="fade-up">
                    <p class="text-left" style="font-family: Product Sans;color: rgb(255,255,255);font-size: 22px;margin-top: 0px;">Check out CODEMAX</p><img src="{% static "home/assets/img/code-512.png"%}" style="width: 53px;"></div>
                <div class="col" data-aos="fade-up" style="width: 41px;">
                    <p class="text-left" style="font-family: Product Sans;color: rgb(255,255,255);font-size: 22px;">Meet the team</p><img src="{% static "home/assets/img/0ecf661ca29c7ab640a7b76f1caae8f9-company-team-icon-by-vexels.png"%}" style="width: 49px;background-position: center;"></div>
            </div>
        </div>
    </div>
    <div style="background-image: url(&quot;{% static "home/assets/img/maxresdefault.jpg"%}&quot;);background-size: cover;background-repeat: no-repeat;height: 539px;">
        <h1 class="text-center" data-aos="fade-up" style="color: rgb(255,255,255);font-family: consolas;letter-spacing: 5px;font-weight: bold;margin-top: 0px;padding-top: 34px;">welcome to &lt;/codemax&gt;</h1>
        <h2 class="text-center" data-aos="fade-up" style="color: rgb(255,255,255);font-family: consolas;">the biggest coding fest</h2>
        <h4 class="text-center" data-aos="fade-up" style="color: rgb(255,255,255);font-family: consolas;">(unverified statistic)</h4>
        <div class="container" style="padding-top: 79px;">
            <div class="row">
                <div class="col">
                    <p class="text-center" data-aos="fade-up" style="color: rgb(255,255,255);font-family: Product Sans;letter-spacing: 14px;font-weight: bold;">REGISTER NOW</p>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}
</html>