{% extends "home/main.html"%}
{% load static%}
{% block content%}
{% load crispy_forms_tags %}

{% load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>The IT Club login</title>
    <link rel="stylesheet" href="{% static "home/assets/bootstrap/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "home/assets/fonts/ionicons.min.css"%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="{% static "home/assets/css/Footer-Basic.css"%}">
    <link rel="stylesheet" href="{% static "home/assets/css/Login-Form-Dark.css"%}">
    <link rel="stylesheet" href="{% static "users/assets/css/Navigation-Clean.css"%}">
    <link rel="stylesheet" href="{% static "home/assets/css/styles.css"%}">
</head>

<body>

<div class="container">
    <div class="login-dark" style="background-image: url(&quot;{% static "users/assets/img/QeECIwW.png"%}&quot;);height: 659px;">
        <form method="post" style="background-color: rgb(255,255,255);width: 359px;height: 451px;">
            <h2 class="sr-only">Login Form</h2>

            {% csrf_token %}

            {{form|crispy}}
            <button></div><a class="forgot" href="#" type="submit" style="font-family: product sans;">Submit</a></button>
            </form>
    </div>

    <script src="{% static "assets/js/jquery.min.js"%}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js"%}"></script>
    {%endblock%}
</div>
</body>

</html>